<main class="d-flex flex-column">
  <header class="policyReviewHeader">
    <h1>ABOUT US</h1></header>
  <h4>WE CAN'T WAIT TO MEET YOUR FRIEND! PLEASE SHARE A LITTLE BIT OF
    INFORMATION WITH US BELOW.</h4>
</main>