<main class="d-flex flex-column align-items-center">
  <header><h1>AUTO & MORE QUOTES</h1>
  </header>
  <h4>PLEASE SELECT FROM THE FOLLOWING OPTIONS</h4>

  <div id="quoteImageContainer" class="d-flex flex-wrap align-content-center;">
    <div id="auto" class="quoteImageCard">
      <h2 class="quoteImageLabel">AUTO</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
        alt="best car insurance ever"
      />
    </div>
    <div id="moto" class="quoteImageCard">
      <h2 class="quoteImageLabel">MOTO</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1589122350591-964f4987a296?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        alt="best motorcycle insurance ever"
      />
    </div>
    <div id="atv" class="quoteImageCard">
      <h2 class="quoteImageLabel">ATV</h2>
      <img
        class="quoteImage"
        src="https://plus.unsplash.com/premium_photo-1661962466364-1f54edb628cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2728&q=80"
        alt="best atv insurance ever"
      />
    </div>
    <div id="rv" class="quoteImageCard">
      <h2 class="quoteImageLabel">RV</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1596470693312-9a3686a0af0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
        alt="best RV insurance ever"
      />
    </div>
    <div id="boat" class="quoteImageCard">
      <h2 class="quoteImageLabel">BOAT</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1603625094339-c6d5f80e9cfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1681&q=80"
        alt="best boat insurance ever"
      />
    </div>
    <div id="classicCar" class="quoteImageCard">
      <h2 class="quoteImageLabel">CLASSIC CAR</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1587750059638-e7e8c43b99fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2669&q=80"
        alt="best classic car insurance ever"
      />
    </div>
  </div>
  <div id="autoQuoteFormEl" style="display:none;">
    <h3 class="text-center">Auto Insurance Quote</h3>
    <form id="autoQuoteForm">
      {{! NAME }}
      <div class="mb-2">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" required />
      </div>
      {{! EMAIL }}
      <div class="mb-2">
        <label for="inputEmail" class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
          required
        />
      </div>
      {{! PHONE }}
      <div class="mb-2">
        <label for="inputPhone" class="form-label">Phone</label>
        <input
          type="tel"
          class="form-control"
          id="inputPhone"
          aria-describedby="phoneHelp"
        />
        <div id="emailHelp" class="form-text">(Optional)</div>
      </div>
      {{! PACKAGE }}
      <div class="mb-2">
        <label for="inputPackage" class="form-label">Are you interested in a
          specific package?</label>

        <select
          id="inputPackage"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected>No</option>
          <option value="Wedding Ceremony">Wedding Ceremony</option>
          <option value="Wedding Reception">Wedding Reception</option>
          <option value="Wedding Bundle">Wedding Bundle</option>
          <option value="School/Corporate Event">School/Corporate Event</option>
          <option value="Private Event">I need a DJ for a private Event</option>
        </select>
      </div>
      {{! MESSAGE BODY }}
      <div class="mb-2">
        <label for="inputMessage" class="form-label">Message</label>
        <textarea
          id="inputMessage"
          name="inquiry"
          cols="40"
          rows="5"
          class="form-control"
          required
        ></textarea>
      </div>
      {{! PREFERRED CONTACT METHOD }}
      <div>
        <label class="form-label">How would you like us to contact you?</label>
        {{! Email Option }}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadio"
            id="emailSelect"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Email
          </label>
        </div>
        {{! Phone Option }}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadio"
            id="phoneSelect"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Phone
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p id="submitMessage" style="display:none;">Inquiry Successfully Submitted.
      We'll get back to you within 48 hours.</p>
  </div>

  <script src="/js/autoQuotes.js"></script>
</main>