<main class="d-flex flex-column justify-content-center">
  <h1>AUTO & MORE QUOTES</h1>

  <div id="quoteImageContainer" class="d-flex flex-wrap">
    <div id="auto" class="quoteImageCard">
      <h2 class="quoteImageLabel">AUTO</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
        alt="best car insurance ever"
      />
    </div>
    <div id="moto" class="quoteImageCard">
      <h2 class="quoteImageLabel">MOTO</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1589122350591-964f4987a296?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        alt="best motorcycle insurance ever"
      />
    </div>
    <div id="atv" class="quoteImageCard">
      <h2 class="quoteImageLabel">ATV</h2>
      <img
        class="quoteImage"
        src="https://plus.unsplash.com/premium_photo-1661962466364-1f54edb628cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2728&q=80"
        alt="best atv insurance ever"
      />
    </div>
    <div id="rv" class="quoteImageCard">
      <h2 class="quoteImageLabel">RV</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1596470693312-9a3686a0af0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
        alt="best RV insurance ever"
      />
    </div>
    <div id="boat" class="quoteImageCard">
      <h2 class="quoteImageLabel">BOAT</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1603625094339-c6d5f80e9cfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1681&q=80"
        alt="best boat insurance ever"
      />
    </div>
    <div id="classicCar" class="quoteImageCard">
      <h2 class="quoteImageLabel">CLASSIC CAR</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1587750059638-e7e8c43b99fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2669&q=80"
        alt="best classic car insurance ever"
      />
    </div>
  </div>

  <script src="/js/autoQuotes.js"></script>
</main>