<main class="d-flex flex-column justify-content-center">
  <header><h1>BUSINESS QUOTES</h1>
  </header>
  <h4>PLEASE SELECT FROM THE FOLLOWING OPTIONS</h4>

  <div id="quoteImageContainer" class="d-flex flex-wrap">
    <div id="commercialGL" class="quoteImageCard">
      <h2 class="quoteImageLabel">COMMERICAL G.L. </h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1524414139215-35c99f80112d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
        alt="best commercial general liability insurance ever"
      />
    </div>
    <div id="workersComp" class="quoteImageCard">
      <h2 class="quoteImageLabel">WORKERS' COMP</h2>
      <img
        class="quoteImage"
        src="https://plus.unsplash.com/premium_photo-1679511008095-f1625a4fd1fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
        alt="best workers comp insurance ever"
      />
    </div>
    <div id="commercialUmbrella" class="quoteImageCard">
      <h2 class="quoteImageLabel">COMMERCIAL UMBRELLA</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1535911062114-764574491173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
        alt="best commercial umbrella insurance ever"
      />
    </div>
    <div id="inlandMarine" class="quoteImageCard">
      <h2 class="quoteImageLabel">INLAND MARINE</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1601584115197-04ecc0da31d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
        alt="best inland marine insurance ever"
      />
    </div>
    <div id="cyber" class="quoteImageCard">
      <h2 class="quoteImageLabel">CYBER LIABILITY</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
        alt="best cyber liability insurance ever"
      />
    </div>
    <div id="property" class="quoteImageCard">
      <h2 class="quoteImageLabel">BUSINESS PROPERTY</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
        alt="best business property insurance ever"
      />
    </div>
  </div>

  <script src="/js/businessQuotes.js"></script>
</main>