<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0"
  nonce="1tlMCav2"
></script>
<main>
  <section class="homepage">
    <div style="margin-bottom:0px; color:black;">.</div>
    <h3 style="margin-top:0px;"> </h3>
    <br /><br />
    <div class="d-flex flex-wrap justify-content-evenly">
      <div class="home-left">
        <div>
          <img
            class="img-fluid bigHomeLogo"
            src="images/hart-agency-full-logo.png"
            alt="Hart Agency Network Logo"
          />
          <br />
        </div>

        <h1>GET A FREE QUOTE TODAY!</h1>

        <br /><br />
        <div id="homeBtnCont" class="d-flex justify-content-center">
          {{! <a href="tel:3039965288">
        <button
          type="button"
          class="row btn btn-success btn-lg"
          data-inline="true"
        >CALL US</button></a> }}
          <a href="/quotes/autos">
            <button
              type="button"
              class="row btn btn-homepage btn-lg m-3"
              data-inline="true"
            >AUTO QUOTE</button></a>
          <a href="/quotes/property">
            <button
              type="button"
              class="row btn btn-homepage btn-lg m-3"
              data-inline="true"
            >PROPERTY QUOTE</button></a>
          <a href="/quotes/business">
            <button
              type="button"
              class="row btn btn-homepage btn-lg m-3"
              data-inline="true"
            >BUSINESS QUOTE</button></a>
        </div>
        <a href="/services/proof-of-insurance">
          <button
            type="button"
            class="row btn btn-homepage btn-lg m-6"
            data-inline="true"
          >GET A CERT OR ID CARD</button></a>
      </div>
      <div class="home-side">
        <div
          class="fb-page"
          data-href="https://www.facebook.com/hartagencynetwork"
          data-show-posts="true"
          data-width=""
          data-height=""
          data-small-header="true"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true"
        ></div>
      </div>
    </div>

    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </section>

</main>

<script src="/js/homepage.js"></script>