<main class="d-flex flex-column">
  <header>
    <h1>MAKE A PAYMENT</h1></header>
  <h4>PLEASE VISIT YOUR INSURANCE CARRIER SITE TO MAKE A PAYMENT. PLEASE CONTACT
    US IF YOU DO NOT SEE YOUR CARRIER.</h4>
</main>