<main class="d-flex flex-column justify-content-center">
  <h1>PROPERTY QUOTES</h1>

  <div id="quoteImageContainer" class="d-flex flex-wrap">
    <div id="homeowners" class="quoteImageCard">
      <h2 class="quoteImageLabel">HOMEOWNERS</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1558036117-15d82a90b9b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
        alt="best homeowners insurance ever"
      />
    </div>
    <div id="landlord" class="quoteImageCard">
      <h2 class="quoteImageLabel">LANDLORD</h2>
      <img
        class="quoteImage"
        src="https://plus.unsplash.com/premium_photo-1661754913761-f255749f4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
        alt="best landlord insurance ever"
      />
    </div>
    <div id="condo" class="quoteImageCard">
      <h2 class="quoteImageLabel">CONDO</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1534714259038-764cb4cf1d58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
        alt="best condo insurance ever"
      />
    </div>
    <div id="renters" class="quoteImageCard">
      <h2 class="quoteImageLabel">RENTERS</h2>
      <img
        class="quoteImage"
        src="https://images.unsplash.com/photo-1617048551602-f377d4174089?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
        alt="best renters insurance ever"
      />
    </div>
  </div>

  <script src="/js/propertyQuotes.js"></script>
</main>